.THIS {
    margin:auto;
    background:white;
    min-height:500px;
    height:100%;
    padding:10px;
}
.THIS .calender-container{
    position: sticky;
    z-index: 9;
    top: 35px;
}
.THIS.MEDIUM{
    overflow:scroll;
    min-height:300px;
}
.THIS.SMALL{
    overflow:scroll;
    min-height:300px;
}
.THIS.LARGE{
    overflow-x:scroll;
    overflow-y:hidden;
    min-height:300px;
}
.THIS .calender-container div{
    float:left;
    position:relative;
}
.THIS .epicBar div{
    float:left;
}
.THIS .headermonth{
    background: #34352F;
    color: #fff;
    text-align: center;
    padding: 10px 0px;
    -webkit-transition: all 9s; /* Safari */
    transition: all 9s;
    border-radius: 5px 5px 0px 0px;
    border-right: 1px #979e80 solid;
}
.THIS .buttonHeader{
    padding:1px 5px;
    position: sticky;
    top: 0;
    z-index:9;
    background:white;
    width:40%;
}
.THIS .blackbg{
    display:none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 99;
}