.THIS .buttonClass {
    border:0px;
    padding:0;
    box-shadow: 0 0 0 white !important;
}
.THIS .oval {
    height: 28px;
    width: 99%;
    color: white;
    position:static;
    border-radius: 12px;
    line-height: 10px;
    margin:2px;
}
.THIS .slds-truncate{
    max-width:50% !important;
}
.THIS .recordHistory {
    white-space: -moz-pre-wrap !important;
    white-space: -webkit-pre-wrap !important;
    white-space: -pre-wrap !important;      
    white-space: -o-pre-wrap !important;  
    white-space: pre-wrap !important;      
    word-wrap: break-word !important;      
    white-space: normal !important;
}
.THIS .textClass{
    text-overflow:ellipsis;
    white-space:nowrap;
    padding:10px;
    overflow:hidden;
}
.THIS .rowWidth{
    width:10px;
}