.THIS{
    margin: auto;
    min-height: 200px;
    max-height: auto;
    position:relative; 
    box-sizing:border-box;
}
.THIS .headermonth{
    background: #34352F;
    color: #fff;
    text-align: center;
    padding: 10px 0px;
    -webkit-transition: all 9s; /* Safari */
    transition: all 9s;
    
    border-radius: 5px 5px 0px 0px;
    border-right: 1px #979e80 solid;
}

.THIS .epic_detail{
    background:#0070d2;
    color:white;
    position:relative;
}
.THIS .epic_detail p{
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    font-weight:bold;
}
.THIS .epicheader{
    position: absolute;
    top: 50%;
    font-size: small;
    margin-top: -1px;  
    text-align: center;
    left: 50%; /* added */
    transform: translateX(-50%) rotate(270deg); 
    white-space: nowrap;
    width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.THIS .tooltiptexttheme {
    visibility: hidden;
    position: absolute;
    color: white;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 10px 10px;
    top:0%;
    left:100%;
    z-index:40;
    font-size:14px;
    right:0;
    transition: opacity 1s;
}
.THIS .epic_detail:hover .tooltiptexttheme{
    visibility: visible;
    opacity: 10;
}
.THIS .headerHover{
    text-align:center;
    position: absolute;
    z-index: 1;
    width: 100%;
    color:white;
    bottom: 0;
    border-top: 1px #ddd dotted;
}
.THIS .headerTooltipProgram{
    visibility: hidden;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7098039215686274);
    top:-520%;
    left:0;
    max-height:120px;
    width:110px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 5px 4px;
    z-index: 40;
    transition: opacity 1s;
}
.THIS .headerTooltip{
    visibility: hidden;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7098039215686274);
    top:-520%;
    left:0;
    max-height:120px;
    width:115px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 5px 4px;
    z-index: 40;
    transition: opacity 1s;
}
.THIS .headerHover:hover .headerTooltip{
    visibility: visible;
    opacity: 6;
}
.THIS .headerHover:hover .headerTooltipProgram{
    visibility: visible;
    opacity: 6;
}
.THIS .headerTooltip > span{
    cursor:pointer;
}
.THIS .barIcon{
    cursor:pointer;
}