.THIS {
}


.THIS .modalTheme{
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    padding-top: 20px; /* Location of the box */
    left: 0;
    top: 91px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.51) /* Black w/ opacity */
}


.THIS .modal-content{
    margin: auto;
    display: block;
    width: 80%;
    min-width: 95%;
    height:85%;
}
.THIS .close {
    position: absolute;
    top: -15px;
    right: 8px;
    color: darkgrey;
    font-size: 43px;
    font-weight: bold;
    -webkit-transition: .3s;
    transition: .3s;
    z-index: 99999;
}

.THIS .close:hover,
.THIS .close:focus {
    text-decoration: none;
    cursor: pointer;
}