@media (min-width: 48em){
    .THIS .slds-modal__container{
        margin: 0px auto !important;
        width: 70% !important;
        max-width: 840px !important;
        min-width: 480px !important;
    }
}
.THIS .boxClass{
    box-shadow:0 0 0 white !important;
}
.THIS .slds-input-has-icon .slds-input__icon:not(button){
    pointer-events:initial !important;
    cursor:pointer !important;
}
.THIS .sprint{
    position: absolute;
    max-height: 300px;
    min-height: 35px;
    z-index: 64;
    background: rgb(250, 250, 249);
    width: 100%;
    overflow-y:auto;
    overflow-x:hidden;
}
.THIS .slds-input:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}
.THIS .slds-modal__close {
    top: -2.5rem !important;
    right: -0.5rem !important;
}
.THIS .section{
    padding-left:5px;
    background-color:rgb(243, 242, 242);
    font-size:1rem;
    line-height:1.875rem !important;
    margin-bottom:15px;
    margin-top:15px;
}
.THIS .error{
    color:red;
}
.THIS .slds-p-around--medium {
    padding: 20px 40px 60px 40px !important;
}
.THIS .slds-modal{
    top: auto;
    right: 0;
    bottom: 0;
    position: fixed;
    margin: auto;
    height: 670px;
    outline:none;
}
.THIS .themeList{
    position: fixed;
    max-height: 80px;
    min-height: 30px;
    z-index: 64;
    background: rgb(250, 250, 249);
    overflow: scroll;
    width: 45%;
    overflow-y:scroll;
    overflow-x:hidden;
}
.THIS .spaceClass{
    padding-bottom : 8px;
}
.THIS .fullWidth{
    width:100%;
}
.THIS .slds-listbox__item:hover {
    background: #d8edff;
    text-shadow: none;
    color: #16325c;
}
.THIS .optionParent1{
    line-height: 1.5;
    padding: 0.25rem 0.75rem;
    font-size: 0.8125rem;
}
.THIS .optionIcon {
    margin-top: 0.50rem;
}
.THIS .optionTitle{
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    margin-bottom: 0.125rem;
}
.THIS .optionline{
    display: block;
    margin-top: -0.25rem;
    color: #54698d;
}
.THIS .singleRow{
    padding-top:1px;
}
.THIS .uiPill--default.pill {
    border: 1px solid #cccccc;
    border-radius: 9px;
    padding: 10px;
    display: block;
    white-space: nowrap;
}
.THIS .uiPillContainer--default a {
    text-decoration: none;
    cursor: default;
}

.THIS .hide{
    display:none;
}