.THIS .slds-form-element input{
    width:98% !important;
}
.THIS .slds-p-around--medium{
    padding: 1rem !important;
}
.THIS .error{
    color: rgb(221,44,0);
}
.THIS .themeList{
    
    position: fixed;
    max-height: 300px;
    min-height: 60px;
    z-index: 64;
    background: rgb(250, 250, 249);
    overflow: scroll;
    width: 95%;
    overflow-y:scroll;
    overflow-x:hidden;
}

@media (min-width: 48em){
    .THIS .slds-modal__container {
        margin: 0 auto !important;
        width: 50% !important;
        max-width: 40rem !important;
        min-width: 20rem !important;
    }
}
.THIS .slds-modal__content {
    overflow: hidden !important;
}