@media (min-width: 48em){
    .THIS .slds-modal__container {
        margin:0 auto !important;
        width:50% !important;
        max-width:30rem !important;
        min-width:30rem !important;
        top: 7% !important;
    }
}
.THIS .slds-p-around--medium{
    height:75% !important;
}
.THIS .bar{
    color:white;
    position:relative;  
    transition: width 0.3s linear;
    border-radius: 6px;
    height:45px;
    line-height:44px;
    margin-top: 5px;
    margin-left: 23px;
    text-align: center;
    width:90%;
}