.THIS .colorCircle{
    width:18px;
    height:18px;
    -moz-border-radius: 10px; 
    border-radius: 10px;
    cursor:pointer;
    margin:2px;
    border:1px solid;
}
.THIS .colorCircle:checked {
    height: 100px;
    width: 100px;
}
.THIS span{
    display:inline-block;
}
.THIS {
    padding:5px;
}
.THIS .colorContainer {
    display: inline-block;
    overflow-y:scroll;
    overflow-x:hidden;
    height:90px;
    width:50%;
}
.THIS .colorDisplay{
    margin: 0 auto;
    margin-right: 23%;
    margin-top: 2%;
    float: right;
}