.THIS {
    overflow:hidden;
}
.THIS .error{
    color: rgb(221,44,0); 
}
.THIS .slds-form-element input{
    width:98% !important;
}
.THIS .slds-form-element select{
    width:98% !important;
}
.THIS .hyperLnk{
    float:right;
}
@media (min-width: 48em){
    
    .THIS .slds-modal__container {
        margin: 0 auto !important;
        width: 50% !important;
        max-width: 40rem !important;
        min-width: 20rem !important;
    }
}
.THIS .slds-modal__content {
    overflow: hidden !important;
}
.THIS .slds-p-around--medium{
    padding: 1rem !important;
}