@media (min-width: 48em){
    .THIS .slds-modal__container{
        margin: 0px auto !important;
        width: 70% !important;
        max-width: 840px !important;
        min-width: 480px !important;
    }
}
.THIS .boxClass{
    box-shadow: 0 0 0 white !important;
}
.THIS .section{
    padding-left:5px;
    background-color:rgb(243, 242, 242);
    font-size:1rem;
    line-height:1.875rem !important;
    margin-bottom:15px;
    margin-top:15px;
}
.THIS .datePicker-openIcon{
    left:94% !important;
    top:10px !important;
}
.THIS .slds-input:-moz-focusring {
   color: transparent;
   text-shadow: 0 0 0 #000;
}
.THIS .slds-modal__close {
    top: -2.5rem !important;
    right: -0.5rem !important;
}
.THIS .error{
    color:red;
}
.THIS .slds-p-around--medium {
    padding: 20px 40px 60px 40px !important;
}
.THIS .slds-modal{
    top: auto;
    right: 0;
    bottom: 0;
    position: fixed;
    margin: auto;
    height: 576px;
    outline:none;
}