.THIS {
    overflow-y:scroll;
    overflow-x:hidden;
    height:90px;
    padding:5px;
}
.THIS span{
     display:inline-block;
}
.THIS .colorCircle{
    width:20px;
    height:20px;
    -moz-border-radius: 10px; 
    border-radius: 10px;
    cursor:pointer;
    margin:2px;
    border:1px solid;
}