.THIS {
}
.THIS .slds-modal div{
    float:none !important;
}
.THIS .datePicker-openIcon{
    right:0.5rem !important;
}
.THIS option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 1px 0px;
}
.THIS .boxClass{
    box-shadow:0 0 0 white !important;
}
.THIS .section{
    padding-left:5px;
    background-color:rgb(243, 242, 242);
    font-size:1rem;
    line-height:1.875rem !important;
    margin-bottom:15px;
    margin-top:15px;
}
.THIS .slds-modal{
    top: auto;
    right: 0;
    bottom: 0;
    position: fixed;
    margin: auto;
    height: 670px;
    outline:none;
}
.THIS .slds-input:-moz-focusring {
   color: transparent;
   text-shadow: 0 0 0 #000;
}
.THIS .slds-modal__close {
    top: -2.5rem !important;
    right: -0.5rem !important;
}
.THIS .error{
    color: rgb(221,44,0);
}
.THIS .hyperLnk{
    float:right !important;
}
@media (min-width: 48em){
    .THIS .slds-modal__container {
        margin: 0px auto !important;
        width: 70% !important;
        max-width: 840px !important;
        min-width: 480px !important;
        float:none !important;
    }
}
.THIS .slds-modal__content {
    overflow-x: hidden !important;
    overflow-y: scroll !important;
}
.THIS .slds-p-around--medium{
    padding: 20px 40px 60px 40px !important;
}