.THIS .row {
    padding: 8px;
    position: relative;
}

.THIS.toggle {
   display: none;
 }

.THIS .hidepopup {
   display: none;
   visibility:hidden;
}
.THIS .showpopup {
   position: absolute;
   display: inline;
   opacity: 1;
}