.THIS .recordHistory {
   white-space: -moz-pre-wrap !important;
   white-space: -webkit-pre-wrap !important;
   white-space: -pre-wrap !important;      
   white-space: -o-pre-wrap !important;  
   white-space: pre-wrap !important;      
   word-wrap: break-word !important;      
   word-break: break-all !important;
   white-space: normal !important;
}