.THIS {
}
.THIS .sidenav {
   height: 100%;
   position: fixed;
   z-index: 9999;
   top: 0;
   right: 0;
   background-color: white;
   overflow-x: hidden;
   padding-top: 105px;
   transition:all 1s;
}