@media (min-width: 48em){
    .THIS .slds-modal__container{
        margin: 0 auto;
        min-width: 480px !important;
        max-width: 840px !important;
        width: 50% !important;
    }
}
.THIS .slds-modal{
	top: auto;
    right: 0;
    bottom: 0;
    position: fixed;
    margin: auto;
    height: 670px;
	outline:none !important;
}