.THIS{
  height:100%;
}
.THIS .month {
    height:100%;
    background: #f9f9f9;
}
.THIS .month {
    background: #f9f9f9;
}
.THIS .gridSection{
    border-right:1px #ddd dotted;
    width:6px;
    height:100%;
    z-index:2;
}
.THIS .gridSection:last-child{
    border-color:rgb(216, 221, 230);
    border-right:1px #ddd solid;
}
.THIS .monthGridSection{
    border-right:1px #ddd dotted;
    width:15px;
    height:100%;
}
.THIS .monthGridSection:last-child{
    border-color:rgb(216, 221, 230);
    border-right:1px #ddd solid;
}