.THIS .projectBank{
    box-sizing:border-box;
    margin:0 auto;
    width: 100%;
    overflow: hidden;
    min-width: 1270px;
    height: 83vh;
}
.THIS .searchBar{
    float: right;
    width: 20%;
    margin-right: 4px;
    margin-bottom: 4px;
}
.THIS .buttonClass{
    float: right;
    margin-right: 8px;
}
.THIS .recordHistory {
    white-space: -moz-pre-wrap !important;
    white-space: -webkit-pre-wrap !important;
    white-space: -pre-wrap !important;      
    white-space: -o-pre-wrap !important;  
    white-space: pre-wrap !important;      
    word-wrap: break-word !important;      
    white-space: normal !important;
}
.THIS .rowClass{
    font-weight: bold;
    background: lightgrey;
    height:33px;
}
.THIS .projectBankClass{
    overflow:auto;
    margin-top:10px;
}
@media only print {
    /* Intended for paged material and for documents
    viewed on screen in print preview mode .*/
    .THIS .bankContainer {
        display: none;
    }
    .THIS .slds-modal__container_print{
        display:block;
    }
}