.THIS .bar{
    color:white;
    position:absolute;
    background-color:blue;    
    transition: width 0.3s linear;
    border-radius: 2px;
    min-height: 20px;
    line-height:20px;
    max-height: auto;
    display:inline-block;
    width:60px;
}
.THIS .bar:hover{
    cursor:move;
}
.THIS .bar > div{
    border-bottom: 1px #ddd dotted;
}
.THIS .tooltip {
    display: inline-block;
}
.THIS .slds-modal__container{
    float:none !important;
}
.THIS .slds-modal__container *{
    float:none !important;
}
.THIS .barHeader{
    float:none;
    text-align:center;
    border-radius:2px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    width:100%;
    border-bottom:1px #ddd dotted;
    color:white;
}
.THIS .tooltiptext{
    display:none;
    width:300px;
    background-color:rgba(0, 0, 0, 1.5);
    color:#fff;
    border-radius: 5px;
    padding: 5px 10px;
    position:absolute;
    z-index:40;
    bottom:100%;
    font-size:12px;
    margin-left: -60px;
    overflow-y:scroll;
    overflow-x:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    left:59%;
    transition:opacity 1s;
    max-height:91px;
    border-radius:5px 5px 0px 0px;
}
.THIS .divIcon{
    position: relative;
    display: inline-block;
}
.THIS .divIconToolTip{
    visibility:hidden;
    position:absolute;
    background-color: rgba(0, 0, 0, 1.5);
    max-height:29px;
    width:93px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 5px 4px;
    z-index: 40;
    cursor:pointer;
    transition: opacity s;
    top:0;
    left:0;
}
.THIS .divIcon:hover .divIconToolTip{
    visibility:visible;
    opacity:2;
}
.THIS .epicText{
    color: white;
    width: 78%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size:small;
}