.THIS .bar{
    color: white;
    position: relative;
    background-color: #a1ba48;
    -webkit-transition: width .3s linear;
    transition: width .3s linear;
    border-radius: 0px;
    min-height: 20px;
    line-height: 22px;
    max-height: auto;
    left: 187px;
    width: 345px;
    top: -100px;
}
.THIS .bar:hover{
    cursor:move;
}
.THIS .bar > div{
    border-bottom: 1px #ddd dotted;
}
.THIS .tooltip {
    display: inline-block;
}
.THIS .tooltiptext {
    visibility: hidden;
    max-width: 250px;
    min-width: 200px;
    max-height: 110px;
    left: 58px;
    background-color: rgba(0, 0, 0, 1.5);
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    position: absolute;
    z-index: 40;
    top:100%;
    margin-left: -60px;
    overflow-y: auto;
    
    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    transition: opacity 1s;
}
.THIS .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 6;
}
.THIS .barHeader{
    float:none;
    text-align:center;
    border-radius:2px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    width:100%;
    border-bottom:1px #ddd dotted;
    color:white;
}
.THIS .spanClass{
    cursor:pointer;
}
.THIS .lineClass{
}
.THIS .lineClass:before {
    content:'';
    display: inline-block;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 4%;
    color: black;
    border: 0.5px solid black;
    width: 1px;
    height: 25px;
}
.THIS .buttonClass{
    left:70px;
    top:0px;
    color:white;
    box-shadow:0 0 0 white !important;
}
.THIS .epicBar{
    width:398px;
    border:2px solid antiquewhite;
    float:left;
    height:205px
}
.THIS.SMALL{
    min-height:394px;
}
.THIS .epicTitle{
    text-overflow:ellipsis;
    white-space:nowrap;
    padding:1px;
    overflow:hidden;
}
.THIS .epicText{
    color: white;
    width: 78%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-left:5px;
}
.THIS .textFont{
    display: inline-block;
    color: rgb(112, 110, 107);
    font-size: .75rem;
}